{% load i18n %}

<style>
label[for=id_name], label[for=id_region], label[for=id_subregion], label[for=id_country]  {
    display: inline-block;
    width: 80px;
    text-align: right;
}
</style>
<p class="bg-success">{% trans 'Make sure You have entered the coordinates or name.' %}</p>

<form id="geoNameForm" method="post" action="{% url new_user_geoname %}" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>{{ user_geo_name_form.as_p }}</fieldset>
    <input type="submit" id="submit" class="btn btn-default" value="{% trans 'Submit' %}">
    <input onclick="clear_form_elements(this.form)" class="btn btn-default" type="button" value="Clear All" />
</form>

<script>
$(document).ready(function(){
    $('#submit').prop('disabled',true);
    $('#id_name').keyup(function(){
        $('#submit').prop('disabled', this.value == "" ? true : false);
    });
    $('#coordinates_lks94x_id').keyup(function(){
        $('#submit').prop('disabled', this.value == "" ? true : false);
    });
    $('#id_name').attr('title', 'City name you are searching for (e.g. Vilnius)');
    $('#id_region').attr('title', 'Region name you are searching for (e.g. Vilniaus Apskritis)');
    $('#id_subregion').attr('title', 'Subregion name you are searching for (e.g. Vilniaus Rajonas)');
    $('#id_country').attr('title', 'Country name you are searching for (e.g. Lithuania)');
//    $('#id_language').attr('title', '');
});
</script>